* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.mainContainer {
  min-height: 100vh;
  padding: 10px;
  background-color: #161624;
}

.FPart {
  height: 50vh;
}
.SPart {
  min-height: 50vh;
}
.Heading {
  font-family: 'roboto';
  color: #f8fafc;
}
.cUl {
  border: 1px solid #94a3b8;
  background-color: #1f1f2f;
  overflow: scroll;
  height: 300px;
  max-width: 900px;
  border-radius: 5px;
  margin: 0;
  padding: 0;
}
.visitedUl {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}
.noCView {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 20px;
}
